@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
}

#game-section {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    z-index: -1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    color: #f6f7eb;
    background: #393e41;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

header h1 {
    margin-bottom: 20px;
}

#gameboard {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    position: relative;
    margin-top: 30px;
}

#gameboard .tile {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 600;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
}

#gameboard .tile:hover {
    cursor: pointer;
}

#gameboard .line {
    position: absolute;
    z-index: 1;
    background: #f6f7eb;
    border-radius: 2px;
}

#gameboard .r {
    width: 300px;
    height: 4px;
}

#gameboard .r-1 {
    top: 98px;
}

#gameboard .r-2 {
    bottom: 98px;
}

#gameboard .c {
    width: 4px;
    height: 300px;
}

#gameboard .c-1 {
    left: 98px;
}

#gameboard .c-2 {
    right: 98px;
}

#gameover-msg {
    position: absolute;
    z-index: 2;
    text-align: center;
    color: #393e41;
    width: max-content;
    height: max-content;
    background: #f6f7eb;
    border-radius: 8px;
    box-shadow: 0 0 5px black;
    display: none;
    padding: 50px;
}

#gameover-msg h3 {
    margin-top: 35px;
    margin-bottom: 20px;
}

#gameover-msg button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #f6f7eb;
    margin: auto;
    padding: 8px;
    background: #16b550;
    border-radius: 4px;
    border: none;
}

#gameover-msg button:hover {
    cursor: pointer;
}

#num-of-players {
    width: 300px;
    margin-top: 30px;
}

#games-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    max-width: 500px;
    min-width: 200px;
    width: 32%;
    margin: 4px;
}

.nav-wrapper {
    background-color: #393e41;
}


body {
    color: #fff;
    background-image: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    animation: Gradient 10s ease infinite;
}

@keyframes Gradient {
    0%,
    100% {
        background-position: left
    }
    50% {
        background-position: right
    }
}

.container > h1 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.card {
    background-color: #393e41 !important;
}

#connect-section {
    min-height: 100vh;
}

#create-section {
    min-height: 100vh;
}

#create__tags-input input, #connect__tags-input input {
    color: white !important;
}